<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,435},{362,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,126}}</string>
                <key>sourceSize</key>
                <string>{362,126}</string>
            </dict>
            <key>com_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,307},{363,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,126}}</string>
                <key>sourceSize</key>
                <string>{363,126}</string>
            </dict>
            <key>com_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,563},{253,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,121}}</string>
                <key>sourceSize</key>
                <string>{253,121}</string>
            </dict>
            <key>com_anniu_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,359},{186,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,87}}</string>
                <key>sourceSize</key>
                <string>{186,87}</string>
            </dict>
            <key>com_anniu_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,563},{186,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,87}}</string>
                <key>sourceSize</key>
                <string>{186,87}</string>
            </dict>
            <key>com_anniu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,448},{169,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,93}}</string>
                <key>sourceSize</key>
                <string>{169,93}</string>
            </dict>
            <key>com_anniu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,751},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>com_bangding_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,565},{358,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,125}}</string>
                <key>sourceSize</key>
                <string>{358,125}</string>
            </dict>
            <key>com_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,561}}</string>
                <key>sourceSize</key>
                <string>{626,561}</string>
            </dict>
            <key>com_dikuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,939},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>com_friend_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,845},{167,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,92}}</string>
                <key>sourceSize</key>
                <string>{167,92}</string>
            </dict>
            <key>com_friend_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,750},{167,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,93}}</string>
                <key>sourceSize</key>
                <string>{167,93}</string>
            </dict>
            <key>com_guanbi_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,928},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>com_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{538,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,340}}</string>
                <key>sourceSize</key>
                <string>{538,340}</string>
            </dict>
            <key>com_num_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>com_shanhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,543},{115,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,62}</string>
            </dict>
            <key>com_share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,810},{225,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,116}}</string>
                <key>sourceSize</key>
                <string>{225,116}</string>
            </dict>
            <key>com_tili_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,907},{258,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,103}}</string>
                <key>sourceSize</key>
                <string>{258,103}</string>
            </dict>
            <key>com_tili_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{260,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,106}}</string>
                <key>sourceSize</key>
                <string>{260,106}</string>
            </dict>
            <key>com_tili_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,939},{136,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,72}}</string>
                <key>sourceSize</key>
                <string>{136,72}</string>
            </dict>
            <key>cp_anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{501,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,148}}</string>
                <key>sourceSize</key>
                <string>{501,148}</string>
            </dict>
            <key>cp_anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,686},{248,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,122}}</string>
                <key>sourceSize</key>
                <string>{248,122}</string>
            </dict>
            <key>cp_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,928},{140,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,74}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>cp_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,925},{140,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,74}}</string>
                <key>sourceSize</key>
                <string>{140,74}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,152},{383,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,153}}</string>
                <key>sourceSize</key>
                <string>{383,153}</string>
            </dict>
            <key>shop_anniu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,152},{205,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,114}}</string>
                <key>sourceSize</key>
                <string>{205,114}</string>
            </dict>
            <key>shop_anniu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,543},{205,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,112}}</string>
                <key>sourceSize</key>
                <string>{205,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1191,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b140356112cecc950711f7e6000564fe$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
